:root {
	--primary-color: #9ACBD0;
	--secondary-color: #48A6A7;
	--accent-color: #006A71;
	--gray-color: #F2EFE7;
	--gray-text: #2E2F30;
}

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: "Outfit", sans-serif;
}

.container {
	padding: 0 10px;
	margin: auto;
	position: relative;
	width: 100%;
	max-width: 450px;
}

@media (min-width: 550px) {
	.container {
		max-width: 1000px;
	}
}

@media (min-width: 996px) {
	.container {
		max-width: 75%;
	}
}

.section-top-wrapper {
	text-align: center;
	margin-bottom: 40px;
}

.section-navigation {
	background-color: var(--secondary-color);
}

nav {
	display: flex;
	flex-direction: column;
	align-items: center;
}

@media (min-width: 768px) {
	nav {
		flex-direction: row;
		justify-content: center;
	}
}

nav a {
	display: inline-block;
	margin: 0 10px;
	white-space: nowrap;
	padding: 10px 10px;
	text-decoration: none;
	color: black;
	background-color: white;
	margin: 5px 10px;
	border-radius: 5px;
	font-weight: 600;
}

@media (min-width: 768px) {
	nav a {
		margin: 20px 10px;
	}
}

nav a:hover {
	background-color: var(--accent-color);
	color: white;
}

.img-wrapper {
	position: relative;
	display: inline-block;
	margin: 0 auto;
}

.header-img {
	display: block;
	width: 300px;
	height: auto;
}

.overlay {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.7);
}

.header-content {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	text-align: center;
	color: white;
	width: 80%;
	font-weight: 800;
}

.header-button {
	padding: 10px 20px;
	background: white;
	color: black;
	border: none;
	border-radius: 5px;
	margin-top: 25px;
	font-weight: 700;
}

.header-button:hover {
	color: white;
	background: var(--accent-color);
	cursor: pointer;
}

@media (min-width: 360px) {
	.img-wrapper {
		display: block;
	}

	.header-img {
		display: block;
		max-width: 100%;
		width: 100%;
	}
}

@media (min-width: 550px) {
	.img-wrapper {
		width: 100vw;
		margin-left: calc(-50vw + 50%);
		display: flex;
		justify-content: center;
		background: rgba(0, 0, 0, 0.7);
		position: relative;
	}

	.header-img {
		max-height: 500px;
		width: auto;
		object-fit: contain;
	}

	.overlay {
		width: 100vw;
		left: 50%;
		transform: translateX(-50%);
	}

	.header-content {
		width: 45%;
		font-size: 25px;
	}

	.header-button {
		font-size: 16px;
	}
}

@media (min-width: 992px) {
	.header-content {
		font-size: 30px;
		width: 25%;
		font-weight: 900;
		margin: 45px auto;
	}
}

.section-why {
	margin-top: 50px;
	text-align: center;
}

.section-header {
	color: var(--secondary-color);
	font-size: 30px;
	font-weight: 500;
	margin: 30px auto;
}

.section-description {
	color: var(--gray-text);
}

@media (min-width: 550px) {
	.section-header {
		font-size: 40px;
	}

	.section-description {
		font-size: 20px;
		width: 55%;
		margin: 0 auto;
	}
}

.why-benefits-wrapper {
	display: block;
	margin-top: 50px;
}

.why-card {
	margin: 50px auto;
}

.why-card-img {
	width: 72px;
	height: 72px;
}

.why-card-title {
	color: var(--secondary-color);
	font-weight: 500;
	margin: 10px auto;
	text-align: center;
}

.why-card-p {
	color: var(--gray-text);
	margin: 0 auto;
	text-align: center;
	width: 80%;
}

@media (min-width: 550px) {
	.why-benefits-wrapper {
		display: flex;
		flex-direction: row;
		justify-content: center;
	}

	.why-card {
		flex: 1;
	}

	.why-card-title {
		width: 50%;
		font-size: 30px;
	}

	.why-card-p {
		width: 80%;
		font-size: 20px;
	}
}

.desktop-only {
	display: none;
}

.mobile-only {
	display: block;
}

@media (min-width: 550px) {
	.desktop-only {
		display: block;
	}

	.mobile-only {
		display: none;
	}
}

.section-services {
	text-align: center;
	background: var(--gray-color);
	padding: 30px 0;
}

.services-title {
	color: var(--secondary-color);
	font-size: 30px;
	font-weight: 500;
	margin: 30px auto;
}

.service-card {
	display: block;
}

.service-card-title {
	color: var(--secondary-color);
	font-weight: 500;
	font-size: 25px;
	margin: 20px auto;
}

.service-card-p {
	color: var(--gray-text);
	margin: 10px auto;
	width: 85%;
	text-align: justify;
}

.service-card-img {
	width: 85%;
	margin-bottom: 40px;
}

@media (min-width: 550px) {
	.services-title {
		font-size: 40px;
		font-weight: 500;
		margin: 30px auto;
	}

	.service-card {
		display: flex;
		flex-direction: row;
		gap: 50px;
		width: 90%;
		margin: 0 auto;
	}

	.service-card-title {
		font-size: 38px;
	}

	.service-card-content {
		flex: 1;
		font-size: 17px;
	}

	.service-card-img {
		flex: 1;
	}
	
	.service-card-p {
		width: 100%;
		text-align: center;
		margin-bottom: 50px;
	}
}


@media (min-width: 996px) {
	.service-card {
		max-width: 1000px;
		gap: 20px;
		width: 100%;
		margin: 50px auto;
	}

	.service-card-title {
		font-size: 40px;
	}

	.service-card-p {
		width: 75%;
		font-size: 20px;
	}

	.service-card-img {
		max-width: 500px;
	}
}

.section-faq {
	margin-top: -40px;
	padding-top: 20px;
	text-align: center;
	background: var(--gray-color);
}

.faq-content {
	margin-top: 40px;
	padding-bottom: 40px;
}

.faq-card {
	background: white;
	margin: 20px;
	padding: 20px;
	border-radius: 8px;
}

.faq-card-title {
	color: var(--secondary-color);
	font-size: 20px;
	font-weight: 500;
	margin-bottom: 25px;
	text-align: left;
	line-height: 24px;
}

.faq-card-p {
	color: var(--gray-text);
	font-size: 16px;
	font-weight: 400;
	text-align: left;
	margin-bottom: 40px;
}

@media (min-width: 550px) {
	.faq-content {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: center;
	}

	.faq-card {
		flex: 1 1 25%;
	}

	.faq-card-title {
		font-size: 28px;
		line-height: 34px;
		font-weight: 500;
	}

	.faq-card-p {
		font-size: 20px;
		font-weight: 300;
	}
}

.section-testimonials {
	margin-top: -30px;
	background: var(--gray-color);
	padding: 40px 0;
}

.section-tag {
	color: var(--gray-text);
	font-weight: 700;
}

.testimonials-link {
	color: var(--accent-color);
}

.testimonials-card {
	background: white;
	border-radius: 8px;
	margin: 20px;
	padding: 20px;
	text-align: left;
}

.testimonials-card-title {
	color: var(--gray-text);
	font-size: 22px;
	margin: 10px auto;
	font-weight: bold;
}

.testimonials-card-p {
	font-weight: 400;
	margin: 20px auto;
}

.testimonials-author-img {
	width: 48px;
	height: 48px;
}

.testimonials-author-name {
	font-weight: bold;
}

.testimonials-author-job {
	font-weight: 400;
}

.testimonials-author {
	display: flex;
	gap: 10px;
}

@media (min-width: 550px) {
	.testimonials-content {
		display: flex;
	}
}

.section-pricing {
	padding-top: 40px;
	background: var(--gray-color);
	padding: 100px auto;
}

.pricing-main {
	background: white;
	border-radius: 8px;
	padding: 20px;
	margin: 20px;
}

.pricing-title {
	color: var(--secondary-color);
	font-size: 26px;
	margin-bottom: 20px;
	font-weight: 600;
}

.pricing-info {
	font-weight: 700;
	font-size: 18px;
	margin-bottom: 10px;
	color: var(--gray-text);
}

.pricing-price {
	color: var(--secondary-color);
	font-size: 30px;
	margin: 20px auto;
}

.pricing-link {
	display: block;
	text-align: center;
	text-decoration: none;
	color: white;
	background: var(--secondary-color);
	border-radius: 5px;
	padding: 20px 0;
	font-weight: 600;
	font-size: 18px;
}

.pricing-extra-info {
	margin: 40px auto 120px;
}

.pricing-p {
	display: flex;
	font-weight: 400;
	font-size: 18px;
	padding: 0 40px;
	margin: 20px auto;
}

.pricing-card:last-child {
	padding-bottom: 20px;
}

.plus-sign {
	color: var(--secondary-color);
	margin-right: 20px;
}

@media (min-width: 550px) {
	.pricing-content {
		display: flex;
		justify-content: center;
	}

	.pricing-link:hover {
		background: var(--accent-color);
	}
}
